[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restx = "*"
flask-sqlalchemy = "*"
python-dotenv = "*"
psycopg = { extras = ["binary", "pool"], version = "*" }
flask-migrate = "*"
marshmallow = "*"
flask-bcrypt = "*"

[dev-packages]

[requires]
python_version = "3.10"
